**/*/node_modules
**/*/.DS_Store
**/*/dist
**/*/PluginZip.zip
**/*/dist-ssr
**/*/*.local
Minimal-Clozes/
RemNote-Statistics-Plugin/
Remnote-Dracula-theme/
Swift-GTD/
cloze-hints/
css-snippet-test/
fsrs4remnote/
interactive-images/
nationality_predictor/
presentation-mode/
prompt-explorer/
queue-motivator/
queue-plugin/
remnote-blog/
remnote-discord/
remnote-image-search/
remnote-plugin-template-react/
remnote-plugin-texthook/
remnote-readwise/
remnote-simple-snippet-template/
remnote-snippet-template/
remnote-theme-template/
rn-gist-integration/
rnyt/
twtterbotplugin/
vim-mode/
website-annotator/
